@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900);
/* https://dev.to/hankchizljaw/a-modern-css-reset-6p3 */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.markdown-body {
  background: var(--white);
  margin: 0 auto;
  max-width: 980px;
  min-width: 200px;
  padding: var(--space) var(--space-lg);
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

.logo {
  margin: auto !important;
  max-width: 655px;
}

.badges {
  text-align: center;
}

.badges img {
  display: inline-block;
  margin-right: var(--space-xs) !important;
}

.row-items > * {
  margin-right: var(--space-sm) !important;
  margin-bottom: var(--space-sm) !important;
}

.sm-offset-left {
  margin-left: var(--space-sm) !important;
}

.md-offset-left {
  margin-left: var(--space-md) !important;
}

.lg-offset-left {
  margin-left: var(--space-lg) !important;
}

:root {
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-sm: 16px;
  --space: 24px;
  --space-md: 32px;
  --space-lg: 48px;
  --space-xlg: 64px;
  --screen-xs: 360px;
  --screen-sm: 768px;
  --screen-md: 992px;
  --screen-lg: 1280px;
  --screen-xlg: 1440px;
  --screen-max-container: 1140px;
  --font-family: 'Roboto', sans-serif;
  --typography-panel-font: 900 38px/40px var(--font-family);
  --typography-panel-letter: 0;
  --typography-title-font: 500 24px/28px var(--font-family);
  --typography-title-letter: -0.357143px;
  --typography-subheader-font: 400 20px/24px var(--font-family);
  --typography-subheader-letter: -0.288572px;
  --typography-body-font: 400 16px/19px var(--font-family);
  --typography-body-letter: -0.228572px;
  --typography-body2-font: 400 14px/16px var(--font-family);
  --typography-body2-letter: -0.2px;
  --typography-caption-font: 400 12px/14px var(--font-family);
  --typography-caption-letter: -0.171429px;
  --typography-button-font: 500 16px/19px var(--font-family);
  --typography-button-letter: -0.228572px;
  --black: #111;
  --white: #fff;
  --gray-1: #f5f5f5;
  --gray-2: #d8d8d8;
  --gray-3: #9b9b9b;
  --gray-4: #4a4a4a;
  --blue-1: #daf0ff;
  --blue-2: #007fd8;
  --blue-3: #0060a7;
  --blue-4: #003a64;
  --green-1: #7ed321;
  --orange-1: #ff7d00;
  --purple-1: #bd10e0;
  --red-1: #ba1e24;
  --red-2: #d0021b;
  --default-color: var(--gray-4);
  --default-color-lighten: #5c5c5c;
  --default-color-contrast: var(--white);
  --disabled-color: var(--gray-3);
  --disabled-color-contrast: var(--gray-1);
  --primary-color: var(--orange-1);
  --primary-color-lighten: #ff9834;
  --primary-color-contrast: var(--white);
  --secondary-color: var(--blue-2);
  --secondary-color-lighten: #0090f5;
  --secondary-color-contrast: var(--white);
  --success-color: var(--green-1);
  --success-color-lighten: #8bde2f;
  --success-color-contrast: var(--white);
  --danger-color: var(--red-2);
  --danger-color-lighten: #d32228;
  --danger-color-contrast: var(--white);
  --text-color: var(--gray-4);
  --text-color-lighten: var(--gray-3);
  --border-radius: 4px;
  --zindex-1: 1;
  --zindex-5: 5;
  --zindex-10: 10;
  --zindex-100: 100;
  --zindex-1000: 1000;
  --zindex-overlay: 10000;
  --transition-duration: 0.25s; }

body {
  color: #4a4a4a;
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  font-family: var(--font-family);
  text-rendering: optimizeLegibility; }

.jsm-t-panel {
  font: 900 38px/40px 'Roboto', sans-serif;
  font: var(--typography-panel-font);
  letter-spacing: 0;
  letter-spacing: var(--typography-panel-letter); }

.jsm-t-title {
  font: 500 24px/28px 'Roboto', sans-serif;
  font: var(--typography-title-font);
  letter-spacing: -0.357143px;
  letter-spacing: var(--typography-title-letter); }

.jsm-t-subheader {
  font: 400 20px/24px 'Roboto', sans-serif;
  font: var(--typography-subheader-font);
  letter-spacing: -0.288572px;
  letter-spacing: var(--typography-subheader-letter); }

.jsm-t-body {
  font: 400 16px/19px 'Roboto', sans-serif;
  font: var(--typography-body-font);
  letter-spacing: -0.228572px;
  letter-spacing: var(--typography-body-letter); }

.jsm-t-body2 {
  font: 400 14px/16px 'Roboto', sans-serif;
  font: var(--typography-body2-font);
  letter-spacing: -0.2px;
  letter-spacing: var(--typography-body2-letter); }

.jsm-t-caption {
  font: 400 12px/14px 'Roboto', sans-serif;
  font: var(--typography-caption-font);
  letter-spacing: -0.171429px;
  letter-spacing: var(--typography-caption-letter); }

.jsm-t-button {
  font: 500 16px/19px 'Roboto', sans-serif;
  font: var(--typography-button-font);
  letter-spacing: -0.228572px;
  letter-spacing: var(--typography-button-letter); }

.Button_button__1F1DY{align-items:center;background-color:transparent;border:1px solid transparent;border-radius:var(--space-lg);cursor:pointer;display:inline-flex;font:var(--typography-button-font);justify-content:center;letter-spacing:var(--typography-button-letter);overflow:hidden;position:relative;text-decoration:none;transition-duration:var(--transition-duration);transition-property:border-color;will-change:border-color}.Button_button__1F1DY::before{border-radius:var(--space-lg);bottom:0;content:'';left:0;opacity:0;position:absolute;right:0;top:0;transition-duration:var(--transition-duration);transition-property:opacity;z-index:var(--zindex-1)}.Button_button__1F1DY[disabled]{cursor:default}.Button_button__1F1DY[disabled].Button_text__3HqU1{color:var(--disabled-color)}.Button_button__1F1DY[disabled].Button_outlined__JJZbH{border-color:var(--disabled-color);color:var(--disabled-color)}.Button_button__1F1DY[disabled].Button_filled__3kxZs{background-color:var(--disabled-color);color:var(--disabled-color-contrast)}.Button_children__Yr5o0{display:inherit;position:relative;z-index:var(--zindex-5)}.Button_children__Yr5o0 img{max-width:none}.Button_startIcon__1Z9D4{display:inline-block;position:relative;z-index:var(--zindex-5)}.Button_startIcon__1Z9D4:not(:empty){margin-right:var(--space-xs)}.Button_endIcon__3gXw6{display:inline-block;position:relative;z-index:var(--zindex-5)}.Button_endIcon__3gXw6:not(:empty){margin-left:var(--space-xs)}.Button_isLoading__rvamp{cursor:default}.Button_isLoading__rvamp .Button_children__Yr5o0,.Button_isLoading__rvamp .Button_startIcon__1Z9D4,.Button_isLoading__rvamp .Button_endIcon__3gXw6{opacity:0}.Button_default__2h1_O.Button_text__3HqU1{color:var(--default-color)}.Button_default__2h1_O.Button_text__3HqU1:not([disabled]):not(.Button_isLoading__rvamp):hover::before{background-color:var(--default-color-lighten);opacity:0.1}.Button_default__2h1_O.Button_outlined__JJZbH{border-color:var(--default-color);color:var(--default-color)}.Button_default__2h1_O.Button_outlined__JJZbH:not([disabled]):not(.Button_isLoading__rvamp):hover::before{background-color:var(--default-color-lighten);opacity:0.1}.Button_default__2h1_O.Button_filled__3kxZs{background-color:var(--default-color);color:var(--default-color-contrast)}.Button_default__2h1_O.Button_filled__3kxZs:not([disabled]):not(.Button_isLoading__rvamp):hover::before{background-color:var(--default-color-lighten);opacity:1}.Button_primary__Oswaa.Button_text__3HqU1{color:var(--primary-color)}.Button_primary__Oswaa.Button_text__3HqU1:not([disabled]):not(.Button_isLoading__rvamp):hover::before{background-color:var(--primary-color-lighten);opacity:0.1}.Button_primary__Oswaa.Button_outlined__JJZbH{border-color:var(--primary-color);color:var(--primary-color)}.Button_primary__Oswaa.Button_outlined__JJZbH:not([disabled]):not(.Button_isLoading__rvamp):hover::before{background-color:var(--primary-color-lighten);opacity:0.1}.Button_primary__Oswaa.Button_filled__3kxZs{background-color:var(--primary-color);color:var(--primary-color-contrast)}.Button_primary__Oswaa.Button_filled__3kxZs:not([disabled]):not(.Button_isLoading__rvamp):hover::before{background-color:var(--primary-color-lighten);opacity:1}.Button_secondary__1lu76.Button_text__3HqU1{color:var(--secondary-color)}.Button_secondary__1lu76.Button_text__3HqU1:not([disabled]):not(.Button_isLoading__rvamp):hover::before{background-color:var(--secondary-color-lighten);opacity:0.1}.Button_secondary__1lu76.Button_outlined__JJZbH{border-color:var(--secondary-color);color:var(--secondary-color)}.Button_secondary__1lu76.Button_outlined__JJZbH:not([disabled]):not(.Button_isLoading__rvamp):hover::before{background-color:var(--secondary-color-lighten);opacity:0.1}.Button_secondary__1lu76.Button_filled__3kxZs{background-color:var(--secondary-color);color:var(--secondary-color-contrast)}.Button_secondary__1lu76.Button_filled__3kxZs:not([disabled]):not(.Button_isLoading__rvamp):hover::before{background-color:var(--secondary-color-lighten);opacity:1}.Button_small__3vAXr{height:var(--space-md);padding-left:var(--space-sm);padding-right:var(--space-sm)}.Button_small__3vAXr .Button_children__Yr5o0{font-size:0.8em}.Button_medium__14l9C{height:40px;padding-left:var(--space);padding-right:var(--space)}.Button_medium__14l9C .Button_children__Yr5o0{font-size:0.9em}.Button_large__3XJax{height:var(--space-lg);padding-left:var(--space);padding-right:var(--space)}.Button_large__3XJax .Button_children__Yr5o0{font-size:1em}.Button_round-square__2vV_6{min-width:var(--space-xlg)}.Button_circle__3iWza{border-radius:50%}.Button_circle__3iWza.Button_small__3vAXr{width:var(--space-md)}.Button_circle__3iWza.Button_medium__14l9C{padding-left:var(--space-sm);padding-right:var(--space-sm);width:40px}.Button_circle__3iWza.Button_large__3XJax{width:var(--space-lg)}.Button_loading__1AtBv{position:absolute;z-index:calc(var(--zindex-5) + 1)}

.Spinner_spinner__lQraS{-webkit-animation:Spinner_rotation__261lb 1.2s linear infinite;animation:Spinner_rotation__261lb 1.2s linear infinite}.Spinner_circle__2RMqa{-webkit-animation:Spinner_turn__3lDua 1.2s ease-in-out infinite;animation:Spinner_turn__3lDua 1.2s ease-in-out infinite;stroke-dasharray:180;stroke-dashoffset:0;stroke-linecap:round;stroke-width:6;transform-origin:center}.Spinner_default__11Lb8{stroke:var(--default-color)}.Spinner_default-contrast__2sbLb{stroke:var(--default-color-contrast)}.Spinner_primary__VPhet{stroke:var(--primary-color)}.Spinner_primary-contrast__1fRLr{stroke:var(--primary-color-contrast)}.Spinner_secondary__hb-Qx{stroke:var(--secondary-color)}.Spinner_secondary-contrast__3jtb_{stroke:var(--secondary-color-contrast)}@-webkit-keyframes Spinner_rotation__261lb{100%{transform:rotate(270deg)}}@keyframes Spinner_rotation__261lb{100%{transform:rotate(270deg)}}@-webkit-keyframes Spinner_turn__3lDua{0%{stroke-dashoffset:180}50%{stroke-dashoffset:45;transform:rotate(135deg)}100%{stroke-dashoffset:180;transform:rotate(445.5deg)}}@keyframes Spinner_turn__3lDua{0%{stroke-dashoffset:180}50%{stroke-dashoffset:45;transform:rotate(135deg)}100%{stroke-dashoffset:180;transform:rotate(445.5deg)}}

.Field_container__HM2m9{display:flex;flex-flow:column}.Field_label__30ArG{color:var(--gray-4);font:var(--typography-caption-font);margin-bottom:var(--space-xs)}.Field_field__198yu{-webkit-appearance:none;-moz-appearance:none;appearance:none;background:var(--disabled-color-contrast);border:1px solid var(--gray-2);border-radius:var(--border-radius);color:var(--default-color);font:var(--typography-body-font);padding:var(--space-sm);width:100%}.Field_field__198yu:disabled,.Field_field__198yu[disabled]{background:var(--gray-2)}.Field_field__198yu:disabled::-moz-placeholder, .Field_field__198yu[disabled]::-moz-placeholder{color:var(--disabled-color)}.Field_field__198yu:disabled:-ms-input-placeholder, .Field_field__198yu[disabled]:-ms-input-placeholder{color:var(--disabled-color)}.Field_field__198yu:disabled::-ms-input-placeholder, .Field_field__198yu[disabled]::-ms-input-placeholder{color:var(--disabled-color)}.Field_field__198yu:disabled,.Field_field__198yu:disabled::placeholder,.Field_field__198yu[disabled],.Field_field__198yu[disabled]::placeholder{color:var(--disabled-color)}.Field_container__HM2m9.Field_invalid__G7U_a .Field_field__198yu{outline:1px auto var(--danger-color)}.Field_error__2RzyA{color:var(--danger-color);display:inherit;font:var(--typography-caption-font);margin-top:var(--space-xxs)}.Field_error__2RzyA svg{fill:var(--danger-color);height:14px;margin-right:var(--space-xxs);width:14px}

.Icon_icon__1hNBc{fill:var(--gray-2)}.Icon_default__1caS8{fill:var(--white)}.Icon_primary__3qdBg{fill:var(--primary-color)}.Icon_secondary__27Kk8{fill:var(--secondary-color)}

.Pagination_pagination__1SPqW{display:flex;justify-content:center}.Pagination_container__21xdl{align-items:center;display:flex;justify-content:center;margin-top:var(--space);padding:0 36px;position:relative;width:calc((45px * 3) + (36px * 2))}@media only screen and (min-width: 768px){.Pagination_container__21xdl{width:calc((45px * 5) + (36px * 2))}}@media only screen and (min-width: 992px){.Pagination_isMobile__DudvN .Pagination_container__21xdl{width:calc((45px * 3) + (36px * 2))}}.Pagination_justifyContentStart__35lvI{justify-content:flex-start}.Pagination_justifyContentEnd__3ivVc{justify-content:flex-end}.Pagination_paginationButton__1i9F9{align-items:center;background-color:var(--gray-2);border:0;border-radius:50%;cursor:pointer;display:flex;height:36px;justify-content:center;margin-top:var(--space-xxs);outline:none;position:absolute;top:-8px;width:36px}.Pagination_paginationButton__1i9F9:hover{background-color:var(--secondary-color)}.Pagination_paginationButton__1i9F9:disabled{opacity:0.3}.Pagination_paginationButton__1i9F9:first-child{left:-8px}.Pagination_paginationButton__1i9F9:last-child{right:-8px}.Pagination_paginationButton__1i9F9:hover:disabled{background-color:var(--gray-2);opacity:0.3}.Pagination_paginationIndex__1hmOU{background-color:var(--white);cursor:pointer;display:inline-block;font:var(--typography-body2-font);letter-spacing:var(--typography-body2-letter);text-align:center;width:45px}.Pagination_paginationIndex__1hmOU p{color:var(--gray-3);display:flex;justify-content:center}.Pagination_paginationIndex__1hmOU p:hover{color:var(--secondary-color)}.Pagination_indexWrapper__3GUXv{margin-top:var(--space-xxs);position:relative}.Pagination_indexWrapper__3GUXv.Pagination_active__3Ll80 p{color:var(--secondary-color);font-weight:bold}.Pagination_indexWrapper__3GUXv.Pagination_active__3Ll80::before{background-color:var(--secondary-color);border-radius:9px;content:'';height:var(--space-xxs);left:0;margin-top:7px;position:absolute;top:100%;width:100%}.Pagination_indexWrapper__3GUXv.Pagination_active__3Ll80::after{color:var(--disabled-color);content:attr(data-marker);display:flex;font:var(--typography-caption-font);justify-content:center;left:0;letter-spacing:var(--typography-caption-letter);margin-top:14px;position:absolute;top:100%;width:100%}

.Select_wrapper__loslU{position:relative}.Select_error__27r2r{color:var(--danger-color);display:inherit;font:var(--typography-caption-font);margin-top:var(--space-xxs)}.Select_error__27r2r svg{fill:var(--danger-color);height:14px;margin-right:var(--space-xxs);width:14px}.Select_caret__WXr3L,.Select_icon__34Ggj{align-items:center;color:var(--gray-2);display:flex;fill:var(--gray-2);height:100%;justify-content:center;pointer-events:none;position:absolute;top:0;width:24px}.Select_icon__34Ggj{left:var(--space-xs)}.Select_icon__34Ggj+.Select_field__jMIZS{padding-left:calc(24px + var(--space-sm))}.Select_caret__WXr3L{right:var(--space);width:16px}

.SplitButton_splitButton__3I9rn{display:inline-flex;outline:none;position:relative}.SplitButton_caret__2rzm-{margin-left:var(--space);position:relative}.SplitButton_caret__2rzm-::before,.SplitButton_caret__2rzm-::after{background-color:var(--white);border-radius:1px;content:"";display:block;height:10px;position:absolute;top:25%;transform:rotate(45deg);width:3px}.SplitButton_caret__2rzm-::before{left:3px}.SplitButton_caret__2rzm-::after{right:0;transform:rotate(-45deg)}.SplitButton_dropdown__3LSMq{border-radius:var(--border-radius);box-shadow:-6px 8px 15px rgba(0,0,0,0.1);opacity:0;position:absolute;right:0;transform:translateY(var(--space-lg));visibility:hidden;will-change:visibility;z-index:var(--zindex-10)}.SplitButton_hover__N8B0B>.SplitButton_dropdown__3LSMq{transition-delay:0.2s}.SplitButton_dropdown__3LSMq::before{border:var(--space-xs) solid transparent;content:"";margin-left:-20px;pointer-events:none;position:absolute;top:-16px}.SplitButton_dropdown__3LSMq>*{align-items:center;box-sizing:border-box;cursor:pointer;display:flex;min-height:var(--space-lg);padding-left:var(--space);padding-right:var(--space);text-decoration:none;white-space:nowrap}.SplitButton_dropdown__3LSMq>*:first-of-type{border-top-left-radius:var(--border-radius);border-top-right-radius:var(--border-radius)}.SplitButton_dropdown__3LSMq>*:last-of-type{border-bottom-left-radius:var(--border-radius);border-bottom-right-radius:var(--border-radius)}.SplitButton_dropdown__3LSMq.SplitButton_rtl__386rT::before{right:var(--space-sm)}.SplitButton_dropdown__3LSMq.SplitButton_ltr__31XWP{left:0;width:-webkit-fit-content;width:-moz-fit-content;width:fit-content}.SplitButton_dropdown__3LSMq.SplitButton_ltr__31XWP::before{left:calc(var(--space-md) + var(--space-xxs))}.SplitButton_dropdown__3LSMq.SplitButton_fitbutton__3cLhG{width:100%}.SplitButton_dropdown__3LSMq.SplitButton_fitbutton__3cLhG>*{white-space:normal}.SplitButton_hover__N8B0B:hover>.SplitButton_dropdown__3LSMq,.SplitButton_click__3MoEi.SplitButton_active__3e5z4>.SplitButton_dropdown__3LSMq{opacity:1;transition:visibility 0s, transform 0.2s ease-in, opacity 0.1s linear;visibility:visible}.SplitButton_hover__N8B0B:hover>.SplitButton_dropdown__3LSMq.SplitButton_large__2U_oA,.SplitButton_click__3MoEi.SplitButton_active__3e5z4>.SplitButton_dropdown__3LSMq.SplitButton_large__2U_oA{transform:translateY(var(--space-xlg))}.SplitButton_hover__N8B0B:hover>.SplitButton_dropdown__3LSMq.SplitButton_medium__3Bvnb,.SplitButton_click__3MoEi.SplitButton_active__3e5z4>.SplitButton_dropdown__3LSMq.SplitButton_medium__3Bvnb{transform:translateY(calc(var(--space-xlg) - var(--space-xs)))}.SplitButton_dropdown__3LSMq.SplitButton_large__2U_oA>*{font-size:1em}.SplitButton_dropdown__3LSMq.SplitButton_medium__3Bvnb>*{font-size:0.9em}.SplitButton_dropdown__3LSMq.SplitButton_default__JCkyM{background-color:var(--default-color)}.SplitButton_dropdown__3LSMq.SplitButton_default__JCkyM::before{border-bottom-color:var(--default-color)}.SplitButton_dropdown__3LSMq.SplitButton_default__JCkyM>*{color:var(--default-color-contrast)}.SplitButton_dropdown__3LSMq.SplitButton_default__JCkyM>*:hover{background-color:var(--default-color-lighten);opacity:1}.SplitButton_dropdown__3LSMq.SplitButton_default__JCkyM>*:not(:last-child){border-bottom:1px solid var(--default-color-lighten)}.SplitButton_dropdown__3LSMq.SplitButton_primary__KKxyl{background-color:var(--primary-color)}.SplitButton_dropdown__3LSMq.SplitButton_primary__KKxyl::before{border-bottom-color:var(--primary-color)}.SplitButton_dropdown__3LSMq.SplitButton_primary__KKxyl>*{color:var(--primary-color-contrast)}.SplitButton_dropdown__3LSMq.SplitButton_primary__KKxyl>*:hover{background-color:var(--primary-color-lighten);opacity:1}.SplitButton_dropdown__3LSMq.SplitButton_primary__KKxyl>*:not(:last-child){border-bottom:1px solid var(--primary-color-lighten)}.SplitButton_dropdown__3LSMq.SplitButton_secondary__3Brzl{background-color:var(--secondary-color)}.SplitButton_dropdown__3LSMq.SplitButton_secondary__3Brzl::before{border-bottom-color:var(--secondary-color)}.SplitButton_dropdown__3LSMq.SplitButton_secondary__3Brzl>*{color:var(--secondary-color-contrast)}.SplitButton_dropdown__3LSMq.SplitButton_secondary__3Brzl>*:hover{background-color:var(--secondary-color-lighten);opacity:1}.SplitButton_dropdown__3LSMq.SplitButton_secondary__3Brzl>*:not(:last-child){border-bottom:1px solid var(--secondary-color-lighten)}

.Stepper_stepper__2Iubs{display:flex;flex-direction:column;justify-content:space-between;list-style:none}@media only screen and (min-width: 1280px){.Stepper_stepper__2Iubs{flex-direction:row;height:100%}}.Stepper_step__2_HLT{display:flex;flex-direction:row;height:var(--space-lg);list-style-type:none;position:relative;width:100%}.Stepper_step__2_HLT::before{background-color:var(--gray-2);border:2px solid var(--white);border-radius:50%;content:'';display:block;height:14px;margin-left:2px;margin-right:var(--space-sm);position:relative;text-align:center;width:14px;z-index:var(--zindex-1)}.Stepper_step__2_HLT::after{background-color:var(--gray-2);content:'';height:100%;left:var(--space-xs);position:absolute;top:var(--space-xxs);width:2px}.Stepper_step__2_HLT:last-child::after{content:none}.Stepper_step__2_HLT .Stepper_subtitle__2yx33:last-child:not(:empty)::before{content:'-';display:inline-block;text-align:center;width:var(--space-xs)}@media only screen and (min-width: 1280px){.Stepper_step__2_HLT{flex-direction:column;height:100%}.Stepper_step__2_HLT::before{margin-bottom:var(--space-sm);margin-top:2px}.Stepper_step__2_HLT:not(:last-child)::after{height:2px;left:var(--space-xs);top:var(--space-xs);width:100%}.Stepper_step__2_HLT .Stepper_subtitle__2yx33:last-child:not(:empty)::before{content:none}}.Stepper_title__2TPVe,.Stepper_subtitle__2yx33{color:var(--gray-3);font:var(--typography-caption-font);letter-spacing:var(--typography-caption-letter);margin-left:var(--space-xxs)}.Stepper_active__37pFD .Stepper_title__2TPVe,.Stepper_active__37pFD .Stepper_subtitle__2yx33{color:var(--text-color);font-weight:bold;margin-top:2px}.Stepper_active__37pFD::before{background-color:var(--secondary-color);border-width:1px;height:18px;margin-bottom:var(--space-xs);margin-left:0;margin-right:calc(var(--space-sm) - 2px);margin-top:0;width:18px}.Stepper_active__37pFD::after{background-color:var(--secondary-color)}@media only screen and (min-width: 1280px){.Stepper_active__37pFD .Stepper_title__2TPVe,.Stepper_active__37pFD .Stepper_subtitle__2yx33{margin-left:2px;margin-top:0}.Stepper_active__37pFD::before{margin-bottom:calc(var(--space-sm) - 2px)}}.Stepper_last__4nyV4::after{background-color:var(--gray-2)}


/*# sourceMappingURL=main.00d143a1.chunk.css.map*/